@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-inter);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

html[data-theme="light"] {
	color-scheme: light;
}

body {
	min-height: 100%;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
